/*---------------- BODY -----------------------*/
/*---------------- BODY -----------------------*/
/*---------------- BODY -----------------------*/

body{
  color:white;
  font-family: 'Noticia Text', serif;
  background-color:white;

}
a,u{

  text-decoration: none;
}

/*---------------- NAVBAR -----------------------*/
/*---------------- NAVBAR -----------------------*/
/*---------------- NAVBAR -----------------------*/

.myNav{
  background-color:white;
  image
}
.title{    
  text-align: center;

}
.myLogoTitle{
  font-size:92px; 
  font-weight: 900;
  text-align:center;
  color:#28a745; 
}
.myLogoImg{
  width: 100px;
  height: 100px;
}

.navbar{
  line-height: 7em;  
  /*font-family: 'Noticia Text', serif;*/

}
.navbar-nav{
  line-height: 2em; 


}
.navbar .navbar-nav .nav-item .nav-link{
  font-weight:900;
  margin-left:auto;
  color: black;


  /*font-family: 'Noticia Text', serif; */
}
.dropdown-toggle::after {
  display:none;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.navbar-nav .nav-item .nav-link {
  margin-left:10px;
  margin-right:10px;
}
.navLink2{ 
  text-decoration: none;
  border-bottom: 0.13em solid transparent;
  transition: all ease-in-out 0.6s;
}
.navLink2:hover{
  
 color: #28a745;
  border-color: #28a745;
}
#navLink2 .nav-link:hover, .nav-link:focus {
   color: #28a745;
  border-color: #28a745;
}
.dropdown-item {
  transition: all ease-in-out 0.6s;
}
.dropdown-item:hover, .dropdown-item:focus {  background-color: #28a745;
}


/*---------------- HERO -----------------------*/
/*---------------- HERO -----------------------*/
/*---------------- HERO -----------------------*/

#hero{
  background: 
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    /* bottom, image */
    url('/img/communitydev_hero16.png') ;
  background-size:cover;
  background-position: 0 10%;
  /*background-image: url("/img/communitydev_hero14.png");*/

  /* #1e20b9 #1b1d95 #1a1c98 #1f21bf */
  /* #1e20b9 #141576 #0E0F55 */
  height: 800px;

  min-height: 500px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroTitle{
  font-size: 100px;
  color: #28a745;
  font-weight: 900;
}


/*---------------- SERVICES -----------------------*/
/*---------------- SERVICES -----------------------*/
/*---------------- SERVICES -----------------------*/

/* #FC440F #D7263D */

.ourService{
  color:black;
  font-weight: 900;
}
.smallLine{
  width:7%;
  height: 0.25em;
  border:solid;
  border-radius: 29%;
  background-color:#141576 ;
}
.serviceIcon{  
  color: #141576;
}
.serviceText{
  color: black;
}




/*---------------- MISSION STATEMENT -----------------------*/
/*---------------- MISSION STATEMENT -----------------------*/
/*---------------- MISSION STATEMENT -----------------------*/


#mission{
  color:white;
  /*background-color: ;*/
}
.MissionStatementBox{  
  /*background-color:;*/
}
.missionStatementTitle{
  /*background-color:;*/
  color:white;
  font-size: 95px;
  font-weight: 900
}
.missionStatementText{
  /*background-color:;*/
  color: whit;
  font-size:1.8em;
}
.missionStatementText:hover{
  /*background-color: rgba(0, 102, 0, 0.5);
  color: black;
  font-size:1.8em;*/
}
.myBadge{
  height: 400px; 
  width: 500px;
  /* border-radius: 10em;
  border-style: solid;
  border-color: green;
  border-width: thick;*/

}
.myBadge:hover{
  /*border-color:green;
  background-color: rgba(0, 102, 0, 0.5);*/
}
#badge{
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0,25 , 0.9), 
      rgba(0, 0,25, 0.9)
    ), 
    /* bottom, image */
    url('/img/communitydev.jpg') ;
  background-size:cover;
  background-position: 0 10%;

  background-attachment: fixed;
  background-position:top ;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------- SERVICES -----------------------*/
/*---------------- SERVICES -----------------------*/
/*---------------- SERVICES -----------------------*/
.myContainer {
  position: relative;
  width: 50%;
}

.myImage {
  display: block;
  width: 100%;
  height: auto;
}

.myOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.myContainer:hover .myOverlay {
  opacity: 0.85;
}

.myText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.serviceTitle{
  font-size: 38px;
  font-weight: 900;
  color: black;
}
.serviceImg2{ 
  height: 75%;
  width: 85%;
  text-align: center;

  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0,25 , 0.9), 
      rgba(0, 0,25, 0.9)
    ), 
    /* bottom, image */
    url('/img/communitydev.jpg') ;
  background-size:cover;


  background-attachment: fixed;
  background-position:top ;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.serviceImg{
  width: 85%; 
  height: auto;
  text-align: center;
}
.serviceImg:hover{
  width: 85%; 
  height: auto;
  text-align: center;
}
/*
.serviceText{
font-size: 28px; 
color: black;
font-weight: 900;
}*/

/*---------------- DONATE BAR -----------------------*/
/*---------------- DONATE BAR -----------------------*/
/*---------------- DONATE BAR -----------------------*/


.donateBar{
  /* background: 

  linear-gradient(
  rgba(0, 0, 0, 0.5), 
  rgba(0, 0, 0, 0.5)
  ), 

  url('/img/communitydev_green.jpg') ;*/

  background-image: url("/img/communitydev_hero14.png");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.donateTitle{
  color: #28a745;
  font-weight: 900;
}
.donateText{
  color: #28a745;
  font-size: 1.8em;
}

/*---------------- TESTIMONIALS -----------------------*/
/*---------------- TESTIMONIALS -----------------------*/
/*---------------- TESTIMONIALS -----------------------*/
.testimonialsTitle{
  color: black;
  font-weight: 900;
}
.myCard{
  border-color:; 
  border-style:;
  border-width:;
  color:black;  
  background-color: white;

}
.myCard:hover{ 
  border-color:#28a745; 
  border-style: solid;
  border-width:;
  color:white;  
  background-color: #0E0F55;

  transition: all 0.3s ease-out  ;

}
.myFooter{
  color:black;
}
.myFooterHover{
  color:white;
  transition: all 0.3s ease-out  ;
}
.clickHereText{
  text-decoration:none;
  color: black;
  font-size: 1em;
}

.clickHereTextHover {
  text-decoration: none;
  color: white;
  font-size: 1em;
  transition: all 0.3s ease-out  ;
}
.testimonialsLine{

  width:87%;
  height: 0.1em;
  border:;
  background-color:black ;

}
.testimonialsLineHover{

  width:87%;
  height: 0.1em;
  border:;
  background-color:#28a745 ;

}

.quoteName{  
  font-size: 1.3em
}

/*---------------- UPCOMING EVENTS -----------------------*/
/*---------------- UPCOMING EVENTS -----------------------*/
/*---------------- UPCOMING EVENTS -----------------------*/
.myCardUE{
  border-color:; 
  border-style: ;
  border-width:;
}
.upcomingEvents{
  padding: 0 0em; 
}
.upcomingEventsBG{
  /* background-color:#014579;*/
  background-color:#28a745; 
}
.UpcomingEventsTitle{
  color: black;
  font-weight: 900;
}
.upcomingTitleText{
  font-size: 1.5em;
  color: white;
}
.upcomingText{
  font-size: 1.1em;
  color: white;
}

.UpcomingEventsFooter{
  font-size: 1.2em;
  color: black;
  font-weight: 900;
}




/*---------------- FOOTER -----------------------*/
/*---------------- FOOTER -----------------------*/
/*---------------- FOOTER -----------------------*/
.footerLinks{
  text-decoration: none;
  color: white;
}
.footerLinks:hover{
  text-decoration: none;
}
.far{
  /*background-color: ;*/
  text-align: center;
  line-height: 52px;
}
.fas{
  /*background-color: ;*/
  text-align: center;
  line-height: 52px;
}


/*---------------- MEDIA  -----------------------*/
/*---------------- MEDIA  -----------------------*/
/*---------------- MEDIA  -----------------------*/


@media(min-width:1300px){
  .myLogoTitle{  
    font-size:42px; 
    font-weight: 900;
  }
  .navbar .navbar-nav .nav-item .nav-link{
    font-size:25px;
    font-weight:900;
  }
}
@media(min-width:992px) and (max-width:1299px){
  .myLogoTitle{  
    font-size:28px; 
    font-weight: 900;
  }
  .navbar .navbar-nav .nav-item .nav-link{
    font-size:18px;
    font-weight:900;
  }
  .myLogoImg{
    width: 90px;
    height: 90px;
  }
}
@media(max-width:991px){
  .myLogoTitle{  
    font-size:31px; 
    font-weight: 900;
  }
  .navbar .navbar-nav .nav-item .nav-link{
    font-size:22px;
    font-weight:900;
  }
  .myLogoImg{
    width: 80px;
    height: 80px;
  }

}




















/*---------------- OTHER -----------------------*/
/*---------------- OTHER -----------------------*/
/*---------------- OTHER -----------------------*/

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.myContainer {
  position: relative;
  /* text-align:;*/
  color: white;
}
#DonateMiniHero{
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0,0 , 0.5), 
      rgba(0, 0,0, 0.9)
    ), 
    /* bottom, image */
    url('/img/communitydev.jpg') ;
  background-size:cover;
  background-position: 0 10%;

  height: 100px;
}

.hehe{
  color: blue;
}
.money {
  width: 100px;
  height: 100px;
  background: green;
  position: relative;


}
.money:hover{
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  transition: all 2s;


}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*
#rcorners1 {
border-radius: 100%;
background: #73AD21;
padding: 20px; 

}
.circle{
width:100%  ;
height: 100%;

border-radius:50%;
text-align:center;
font-size: 48px;
margin-top: 10%;
margin-bottom: 10%;
line-height:0;
position:relative;
background: #38a9e4;
color: white;
font-family: Helvetica, Arial Black, sans;
}*/